<!-- Footer Section Begin -->
<footer class="footer bg-light py-5">
  <div class="container">
    <div class="row gy-4">
      <div class="col-md-4">
        <h2 class="logo-baeboo">
  <span class="part-bae">bae</span><span class="part-boo">boo</span>
</h2>
        <p class="footer-tagline">Where Style Meets Comfort</p>
      </div>
      <div class="col-md-3">
        <h6>Shopping</h6>
        <ul class="footer-list">
          <li><a href="/filter?category=68221eca9fe3456e5c42fbfe">Clothing Store</a></li>
          <li><a href="/filter?category=6826082517c87fcc2b85e4ae">Trending Shoes</a></li>
          <li><a href="/filter?category=681f505c9ce80b8ec53d5227">Toys</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6>Help</h6>
        <ul class="footer-list">
          <li><a href="/userProfile">My Account</a></li>
          <li><a href="/orders">Order Tracking</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6>Follow Us</h6>
        <div class="social-icons">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
    <div class="mt-4 pt-4 border-top text-center small text-muted">
      © 2025 baeboo. All rights reserved. | <a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms of Use</a>
    </div>
  </div>
</footer>


<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="./user-assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="./user-assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="./user-assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="./user-assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="./user-assets/js/plugins/slick.js"></script>
<script src="./user-assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="./user-assets/js/plugins/wow.js"></script>
<script src="./user-assets/js/plugins/jquery-ui.js"></script>
<script src="./user-assets/js/plugins/perfect-scrollbar.js"></script>
<script src="./user-assets/js/plugins/magnific-popup.js"></script>
<script src="./user-assets/js/plugins/select2.min.js"></script>
<script src="./user-assets/js/plugins/waypoints.js"></script>
<script src="./user-assets/js/plugins/counterup.js"></script>
<script src="./user-assets/js/plugins/jquery.countdown.min.js"></script>
<script src="./user-assets/js/plugins/images-loaded.js"></script>
<script src="./user-assets/js/plugins/isotope.js"></script>
<script src="./user-assets/js/plugins/scrollup.js"></script>
<script src="./user-assets/js/plugins/jquery.vticker-min.js"></script>
<script src="./user-assets/js/plugins/jquery.theia.sticky.js"></script>
<script src="./user-assets/js/plugins/jquery.elevatezoom.js"></script>
<script src="./user-assets/js/maind134.js?v=3.4"></script>
<script src="./user-assets/js/shopd134.js?v=3.4"></script>